<div class="box_form">
    <form (ngSubmit)="submitForm()" [formGroup]="meuForm" #formDir="ngForm">
      <p class="ptitle"> Login </p>

        <div>
          <input type="email" 
          id="email" 
          formControlName="email" 
          placeholder="Email" 
          [ngClass]="{ 'campo-invalido': email.invalid && formDir.submitted}" 
          >
        </div>
        <div>
          <input type="password" 
          id="password" 
          formControlName="password"
          placeholder="Password" 
          [ngClass]="{ 'campo-invalido': password.invalid && formDir.submitted}"
          >
        </div>
        <button type="submit"> Login</button>

        <p class="pforgot"> forgot <a  routerLink="/forgot">password?</a></p>

        <p class="pcreate"> <a routerLink="/create">create</a> your account</p>
    </form>
    
</div>
