.box_form{
    position:relative;
    width: 300px;
    height: 400px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}
form{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);

}
input{
    width: 200px;
    padding: 10px 10px 10px 10px;
    border-radius: 20px 20px 20px 20px;
    margin-top: 5px;

    border: none;
    background-color: lightgray;
}
button{
    width: 220px;
    padding: 10px 10px 10px 10px;
    border-radius: 20px 20px 20px 20px;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 40px;

    background-color: #70B656;
    color: white;
}
button:hover{
    background-color: #42852a;
}

.ptitle{
    margin-bottom: 0px;

    font-size: 20px;

    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;

}
p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 16px;
}

.phome{
    text-align: center;
}