<div class="box_form">
    <form (ngSubmit)="submitForm()" [formGroup]="meuForm" #formDir="ngForm">
        <p class="ptitle"> Forgot password </p>

        <p>Enter your email address </p>

        <div>

          <p *ngIf="sucesfull" class="error">Email invalido</p>

          <input type="email"
          id="email" 
          formControlName="email"
          placeholder="your email" 
          [ngClass]="{ 'campo-invalido': email.invalid && formDir.submitted || sucesfull}" 
          >
        </div>
        <button type="submit">Send</button>

        <p class="phome"> <a routerLink="/">home</a> </p>
       
    </form>

    
</div>
