<div class="box_form">
    <form  (ngSubmit)="submitForm()" [formGroup]="meuForm">
      <p class="ptitle"> Create account </p>

        <div>
            <input type="text" id="name" formControlName="name" placeholder="name"  required>
        </div>
        <div>
          <input type="email" id="email" formControlName="email" placeholder="email"  required>
        </div>
        <div>
          <input type="password" id="password" formControlName="password" placeholder="password" required>
        </div>

        <button type="submit">Create</button>


        <p class="phome"> <a routerLink="/">home</a> </p>
    </form>
    
</div>
